:root{ 
    --speed:1;
}

.machine{ 
 background-color: darkkhaki;
 height: 300px;
 width: 900px;
 margin: 50px;
 border: dashed 5px;
 display: flex;

}
.slot{ 
 height:250px;
 width:250px;
 overflow: hidden;
background-color: darkblue;
border: solid 2px;
margin: 20px;
text-align: center;
font-size: 60px;
line-height: 250px;

}


#inpS{ 
    margin: 20px;
    font-size: 40px;
}
#btn{ 
    background-color: forestgreen;
    font-size: 60px;
    margin: 40px;
}
#win{ 
    margin-left: 400px;
    font-size: 60px;
    background-color: red;
}




.slot > .value{ 
 animation-name: slotspin;
 animation-iteration-count: infinite;
 animation-duration:calc(1s/var(--speed));
}

@keyframes slotspin{ 
0%{ 
    transform: translateY(-140px);
}

100%{ 
    transform: translateY(140px);
}


}