ul>li{ 
    color: lightslategray;
    font: 50pt;
    margin-left: 600pt;
    
}
ol~li{ 
    color: magenta;
    font: 50pt;
}
div+span{ 
    background-color: pink;
    font-size: 200;

}
div~span{ 
    background-color: powderblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
