*{ 
background-color: lightcyan;

}
.cl1{ 

  background-color:lightcoral;

}
#id1{ 

 background-color: blue;

}
div{ 
  background-color: lightseagreen;

}
.cl2{ 
  background-color: white;

}
#id3{ 
    background-color:brown;
}
#id1{ 
    background-color: lightsteelblue;
}