.container{ 
 display:flex;
 height:600px;
 width:600pts;
 flex-wrap:wrap;






}
.box{ 
 display:flex;
 margin-left: 30px;
 border: dashed brown 4px;
 background-color: burlywood;
 height:200px;
 width:150px;
 margin-left:200px;
 justify-content: center;
 padding-right:5px;
 flex-wrap: wrap;



}